{% extends 'FrontEnd/Resources/views/embed/fzone/contents/includes/vouchers/index/base.html.twig' %}

{% block soldout %}
    <div class="soldout">{{ 'fzone.voucher.soldout'|trans({}, 'frontend') }}</div>
{% endblock soldout %}

{% block body %}
    <h4 class="modal-h2-style">{{ data.title|raw }}</h4>
    <p class="modal-body-price-style">-{{ data.price|number_format }} %points%</p>
    <p class="modal-body-style">{{ data.summary|raw }}</p>
    <div class="modal-button-wrapper">
        <input type="button" class="buy-voucher modal-button-style" data-id="{{ data.id }}" value="{{ 'fzone.redeem.lightbox.button'|trans({}, 'frontend')|raw }}"/>
    </div>
    {{ 'fzone.redeem.lightbox.note'|trans({}, 'frontend') }}

    <script>
        EngagedNation.RequireJS.require(
            ['jquery_1_10'],
            function($)
            {
                'use strict';

                $(function () {
                    var currencyName = $('html').attr('data-currencyName') ? $('html').attr('data-currencyName') : 'Credits',
                        redeemPrice = $('.modal-body-price-style'),
                        redeemButton = $('input.buy-voucher');

                    redeemPrice.html(redeemPrice.html().replace("%points%", currencyName));
                    redeemButton.val(redeemButton.val().replace("%points%", currencyName));
                });
            }
        );
    </script>

{% endblock body %}
